DATABASE_URL=postgresql://username:password@localhost:5432/db_name
OPENAI_API_KEY=api-key

EMBEDDING_PROVIDER="openai"
EMBEDDING_BASE_URL=http://localhost:8001
EMBEDDING_MODEL=gemini-embedding-001

LLM_PROVIDER="openai"
LLM_BASE_URL=http://localhost:8000
LLM_MODEL=gpt-oss-120b
